<ion-header> </ion-header>
<ion-content>
  <ion-img
    class="background-choosePage"
    src="assets/images/signIn/choosePageBackground.svg"
  ></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <ion-img
          class="logo-choosePage"
          src="assets/images/signIn/Logo.svg"
        ></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="row-btn1">
      <ion-col size-sm="12" size-md="12" size-lg="12">
        <ion-button
          class="btn-sign"
          color="secondary"
          expand="block"
          size="large"
          [routerLink]="['/public/login']"
          routerDirection="forward"
          >Customer Login
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="12" size-md="12" size-lg="12">
        <ion-button
                class="btn-sign2"
                color="dark"
                expand="block"
                size="large"
                [routerLink]="['/public/register']"
                routerDirection="forward">
          Create Account
        </ion-button>
      </ion-col>
    </ion-row>

<!--    <ion-row>-->
<!--      <ion-col size-sm="12" size-md="12" size-lg="12">-->
<!--        <ion-button-->
<!--          class="btn-sign2"-->
<!--          color="dark"-->
<!--          expand="block"-->
<!--          size="large"-->
<!--          [routerLink]="['/public/login-as-corporate']"-->
<!--          routerDirection="forward"-->
<!--          >Corporate Login-->
<!--        </ion-button>-->
<!--      </ion-col>-->
<!--    </ion-row>-->

<!--    <ion-row class="btn-create-account">-->
<!--      <ion-col size-sm="12" size-md="12" size-lg="12">-->
<!--        <ion-button-->
<!--          color="light"-->
<!--          fill="clear"-->
<!--          size="default"-->
<!--          expand="block"-->
<!--          [routerLink]="['/public/register']"-->
<!--          routerDirection="forward"-->
<!--          >Create Account-->
<!--        </ion-button>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
  </ion-grid>
</ion-content>
