<ion-content>
<!--  <div style="background: url('assets/images/background.png'); background-position-y: -123px;">-->
  <div style="background: url('assets/images/background.png'); background-position-y: -123px;">
    <ion-toolbar style="--background: transparent">
      <ion-buttons slot="start">
        <ion-back-button color="dark" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button
          fill="clear"
          [routerLink]="['/cart']"
          routerLinkActive="forword"
        >
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [routerLink]="['/search']"
          routerLinkActive="forword"
        >
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

<!--    <ion-img src="assets/images/image.png"> </ion-img>-->
    <ion-img [src]="BASEURL+product.main_photo"> </ion-img>

    <ion-row style="margin-top: 45px"><!-- Size -->
      <ion-col size="12">
        <div>Size && Color</div>
      </ion-col>
      <ion-col size="12">
        <ion-select id="my-select" [(ngModel)]="currentSize" interface="popover" (ionChange)="getCurrentItem()">
          <ion-select-option *ngFor="let item of sizes" [value]="item">
            {{item}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="counter-row"><!-- Quantity -->
      <ion-col size="12">
        <div>Quantity</div>
      </ion-col>
      <ion-col size="12">
        <div style="width: 100px;position: relative" class="uk-inline">
          <a class="down-icon icon" (click)="down(box.value)" uk-icon="icon: minus">-</a>
          <input class="uk-input custom-input" [formControl]="name" type="number" #box>
          <a class="uk-form-icon up-icon icon" (click)="up(box.value)" uk-icon="icon: plus">+</a>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="7">
        <div>{{product.translations[translate.currentLang].name}}</div>
        <div style="display: table">
          <span style="display: table-cell">
            <ion-icon *ngFor="let star of stars;index as i"
                      [ngStyle]="{color:i<math.floor(product.rate)?'#FFAF02':'grey'}"
                      style="font-size: x-large"
                      name="star"></ion-icon>
          </span>
          <span style="color: #d4d4d4; display: table-cell; vertical-align: middle"
            >({{product.rate}})</span
          >
        </div>
      </ion-col>
      <ion-col size="5">
        <div style="text-align: end" *ngIf="currentProdItem.new_price != null">
          <s>{{currentCurrency.translations[translate.currentLang].symbol}} {{currentProdItem.price * currentCurrency.exchange_rate}}</s>
        </div>
        <div style="text-align: end">
          <b style="color: #7ED321; font-size: large">{{currentCurrency.translations[translate.currentLang].symbol}} {{currentProdItem.new_price!=null?currentProdItem.new_price * currentCurrency.exchange_rate:currentProdItem.price * currentCurrency.exchange_rate}}</b>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-button (click)="addProdToCart(box.value)" expand="block" color="warning">
          Add to cart
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="addWishlistProd(product)"
                    style="--padding-end: 5px;
        --padding-start: 5px;"
          fill="outline"
                    color="light"
        >
          <ion-icon *ngIf="!isFav" name="heart-empty"></ion-icon>
          <ion-icon  *ngIf="isFav" name="heart"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <div style="color: #f4f4f4; width: 80%; margin: 35px auto">
      <div style="font-size: larger;margin-bottom: 25px;" text-center>DESCRIPTION</div>
      <div [innerHTML]="product.translations[translate.currentLang].description"></div>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="reviews">
            <ion-label>REVIEWS</ion-label>
          </ion-segment-button>
          <ion-segment-button value="spescifications">
            <ion-label>SPECIFICATIONS</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-card-header>
      <ion-card-content>
        <div [ngSwitch]="segment">
          <div *ngSwitchCase="'reviews'">
            <div *ngFor="let comment of reviews.data;index as j">
              <b style="display: block">
                {{comment.user.username}}
              </b>
              <div>
                <ion-icon *ngFor="let star of stars;index as i"
                          [ngStyle]="{color:i<math.floor(comment.rating)?'#FFAF02':'grey'}"
                          style="font-size: x-large"
                          name="star">

                </ion-icon>
              </div>
              <div style="font-size: 8pt">{{comment.review| slice: 0:limitTo[j]}}</div>
              <div style="margin-top: 20px;text-align: right;">
<!--                <a>add review</a>-->
                <a (click)="showMore(j,comment.review)">{{ show[j] ? 'view less': 'view more' }}</a>
              </div>
            </div>
            <div style="margin-top: 20px">
<!--              <ion-input-->
<!--                      formControlName="userName"-->
<!--                      name="userName"-->
<!--                      type="text"-->
<!--                      inputmode="text"-->
<!--                      required="true">-->
<!--              </ion-input>-->
              <ion-item style="margin-bottom: 20px">
                <ion-textarea [(ngModel)]="review" (keypress)="changeCharacterRating()" placeholder="Write review..."></ion-textarea>
              </ion-item>

              <a (click)="submitReview()">add review</a>
              <star-rating [starType]="'svg'" [size]="'medium'" [readOnly]="false"
                           (ratingChange)="onRate($event)" [rating]="rating"></star-rating>
              <!--              <a style="float: right" (click)="showMore(j,comment.review)">{{ show[j] ? 'view less': 'view more' }}</a>-->
            </div>
          </div>

          <div *ngSwitchCase="'spescifications'">
            <div style="margin-top: 20px;font-weight: bold" [innerHTML]="product.translations[translate.currentLang].specifications">
            </div>
          </div>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
