ion-row {
  width: 80%;
  margin: auto;
}

ion-col {
  div {
    color: #f4f4f4;
  }
}

ion-card {
  background: #fff;
  ion-card-header {
    padding: 0;
  }
  ion-card-content {
    a {
      color: var(--ion-color-danger);
    }
  }
}

ion-segment-button {
  --color: #fff;
  --color-checked: var(--ion-color-danger);
  --background: var(--ion-color-warning);
  --background-checked: #fff;
  --indicator-color-checked: #fff;
}

ion-img{
  width: 55%;
  margin: 0 auto;
}

#my-select{
  color: #fff;
  border: solid 1px #ffce00;
  border-radius: 4px;
  padding: 11px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.counter-row{
  .icon {
    position: absolute;
    color: #ffce00;
    font-size: 43px;
    /* display: inline-block; */
    top: 0;
  }
  .up-icon{
    right: 11px;
    top: -8px;
  }
  .down-icon{
    left: 10px;
    top: -12px;
  }

  .custom-input {
    padding: 6px 30px;
    border: 2px solid #e4e4e2;
    //border-radius: 5px;
    //background-color: #f5f7f8;
    color: #000;
    width: 100px;
    text-align: center;
  }
}

star-rating {
  float:right;
}

