<ion-grid no-padding style="display: grid; height: 100%;">
    <ion-row>
        <app-spinner [show]="loading"></app-spinner>
      <ion-col size="6" *ngFor='let item of items.data'>
        <div class="home-item" (click)="moveToSubCategorie(item.translations[translate.currentLang].name)">
          <p>{{item.translations[translate.currentLang].name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
