ion-content {
  --background: #eeeff0;
}
ion-img img{
  height: 155px;
}
ion-card {
  height: 300px;
  width: 95%;

  .testImage {
    width: 500px;
    height: 500px;
  }
}

.slide-div {
  //display: flex;
  display: -webkit-box;
  overflow-y: scroll;
  padding: 10px 20px;
  .filter-item {
    margin-inline-end: 10px;
    border-radius: 20px;
    border: 1px solid var(--ion-color-danger);
    background: transparent;
    display: table;
    outline: none;
    padding-inline-start: 15px;
    text-align: center;
    ion-icon {
      display: table-cell;
      font-size: 25pt;
      color: var(--ion-color-danger);
    }
    span {
      vertical-align: middle;
      display: table-cell;
      color: var(--ion-color-danger);
    }
  }
}

ion-card {
  background: #fff;
  ion-card-header {
    ion-button {
      --padding-end: 5px;
      --padding-start: 5px;
    }
    //display: contents;
    display: inherit;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    z-index: 1;
  }
  ion-card-content{
    padding-top: 30px;
  }
}

.ion-color-medium {
  --ion-color-base: var(--ion-color-medium, red) !important;
}
