<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title text-center>
            {{catID}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button
                    fill="clear"
                    [routerLink]="['/members/cart']"
                    routerLinkActive="forword"
            >
                <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            </ion-button>
            <ion-button
                    fill="clear"
                    [routerLink]="['/members/search']"
                    routerLinkActive="forword"
            >
                <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="slide-div">
        <div class="filter-item" *ngFor="let parent of currentCatParents;"
             [routerLink]="'/members/products/'.concat(parent.translations[translate.currentLang].name.split(' ').join('-'))">
            <span>{{parent.translations[translate.currentLang].name}}</span>
            <ion-icon name="close-circle"></ion-icon>
        </div>
    </div>

    <div *ngIf="featuredProducts.data?.length > 0">
        <ion-card  class="card-product" *ngFor="let product of featuredProducts.data;index as i">
            <ion-card-header>
                <ion-button (click)="addWishlistProd(product, i)" fill="outline" color="{{isFav[i]?'red1':'medium'}}" style="float: right">
                    <ion-icon *ngIf="!isFav[i]" name="heart-empty"></ion-icon>
                    <ion-icon  *ngIf="isFav[i]" name="heart"></ion-icon>
                </ion-button>
            </ion-card-header>
            <ion-card-content
                    [routerLink]="['/members/product-detail/'.concat(product.translations[translate.currentLang].name.split(' ').join('-'))]">
                <ion-row>
                    <ion-col>
                        <ion-img [src]="BASEURL+product.main_photo" style="height: 185px"></ion-img>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="7">
                        <div>{{product.translations[translate.currentLang].name}}</div>
                        <div style="display: table">
            <span style="display: table-cell">
              <ion-icon *ngFor="let star of stars;index as i"
                        [ngStyle]="{color:i<math.floor(product.rate)?'#FFAF02':'grey'}"
                        style="font-size: x-large"
                        name="star"></ion-icon>
            </span>
                            <span style="color: #d4d4d4; display: table-cell; vertical-align: middle">({{product.rate}} )</span>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div style="text-align: end" *ngIf="product.items[0].new_price != null">
                            <s>{{currentCurrency.translations[translate.currentLang].symbol}} {{product.items[0].price * currentCurrency.exchange_rate}}</s>
                        </div>
                        <div style="text-align: end">
                            <b style="color: #7ED321; font-size: large">{{currentCurrency.translations[translate.currentLang].symbol}} {{product.items[0].new_price!=null?product.items[0].new_price * currentCurrency.exchange_rate:product.items[0].price * currentCurrency.exchange_rate}}</b>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="categoriesChild.data?.length > 0"> <!----- Categories ----->
        <ion-card *ngFor="let cat of categoriesChild.data"
                  [routerLink]="['/members/products/'.concat(cat.translations[translate.currentLang].name.split(' ').join('-'))]">
            <ion-card-content>
                <ion-img [src]="cat.image"></ion-img>
                <ion-row>
                    <ion-col size="12" text-center>
                        <div>{{cat.translations[translate.currentLang].name}}</div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
