ion-slide.swiper-slide-active+ion-slide ion-card {
  border: solid 3px #7A161B;
}

ion-icon{
    font-size: 20px;
  }
  ion-menu-button{
    font-size: 35px;
  }
  ion-title{
    margin-right: -37px;
  }
  
  
  ion-col {
      padding: 2px;
      display: table;
      overflow: hidden;
      height: 33%;
    }
    
    ion-segment{
      margin-top: 12px;
    }

    .home-item {
      // background: url('../../../assets/images/image.png') no-repeat 100% 100%;
      // background-position: center;
      // background-size: 500px;
      background: var(--ion-color-primary);
      color: #fff;
      max-width: 176px;
      height: 165px;
      padding: 4px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      
      p{
        word-wrap: break-word;
         width: 100%;
        font-family: var(--ion-font-family-bold);
        overflow-wrap: break-word;
      }
    }
    
    .profile-background {
      // --background: linear-gradient(to top, rgba(255, 255, 255, 0.507) 50%, #00000077 50%);
      --bacground: var(--ion-color-medium)l
    }
    
    ion-slides {
      height: 80%;
      //width: 200%;
    }
  
    .Trend-Slider{
      height: 25%;
  
      .trendSlide{
        width: 50% !important;
        //margin-right: -9%;
        //transform: translate(-64%, 0%);
        transform: translate(-17%, 0%);
      }
  
  }

    ion-card {
      background: #fff;
      //min-width: 72%;
      min-width: 93%;
      //height: 65%;
      height: 300px;
      border-radius: 5px;
      box-shadow: 0 8px 17px -6px rgba(110, 25, 25, 0.315);

      ion-card-content {
        padding: 0px;
        ion-img{
          margin-top:2%;
          max-width: 28%;
          height: 50%;
          margin-bottom: 2%;
          margin-left: 36%;
        }
      }
    }
  
    .ion-card-trend {
      ion-img{
        margin-top:2%;
        max-width: 30%;
        height: 50%;
        margin-bottom: 2%;
      }
      background: #fff;
      height: 72%;
      padding:10px 2px;
      
      ion-card-header {
        ion-button {
          --padding-end: 5px;
          --padding-start: 5px;
        }
        display: contents;
      }
    }
    .ion-card-trend1{
      @extend .ion-card-trend;
      border: 3px solid #7A161B;
    }

    .card-product{
      box-shadow: 0 14px 17px -6px rgba(41, 12, 12, 0.315); 
      border :1px solid rgba(219, 219, 219, 0.35);
      ion-card-header{
        ion-button{
          width: 40px;
          height: 38px;
          ion-icon{
            font-size:30px !important;
          }
        }

        display: inherit;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 0;
        z-index: 1;
      }
     
      ion-card-content{
        padding-top: 30px;

        .testImage{
          margin-top:2%;
          max-width: 100%;
          height: 50%;
          margin-bottom: 2%;
          margin-left: -4px;
        }
      }
    }
