<ion-slides #slider class="Trend-Slider" [options]="sliderOptions" (ionSlideDidChange)="getIndex(slider)">
    <ion-slide class="trendSlide">
    </ion-slide>
    <ion-slide *ngFor="let item of catalog.data" class="trendSlide">
      <ion-card class="ion-card-trend">
        <ion-card-content >
<!--            <a [routerLink]="'catalog/'+item.id">-->
                <ion-img slot="center" class="image-slide-trend" src="assets/images/trendSlider1.svg"></ion-img>
                <h2 class="trend-slide-text">{{item.translations[translate.currentLang].name}}</h2>
<!--            </a>-->
        </ion-card-content>
      </ion-card>
    </ion-slide>

<!--    <ion-slide class="trendSlide">-->
<!--&lt;!&ndash;        <ion-card class="ion-card-trend1">&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-card-content >&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <ion-img slot="center" class="image-slide-trend" src="assets/images/trendSlider1.svg"></ion-img>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <h2 class="trend-slide-text">REAL ESTATE2</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </ion-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-card>&ndash;&gt;-->
<!--      </ion-slide>-->

<!--      <ion-slide class="trendSlide">-->
<!--          <ion-card class="ion-card-trend">-->
<!--              <ion-card-content>-->
<!--                  <ion-img slot="center" class="image-slide-trend" src="assets/images/trendSlider1.svg"></ion-img>-->
<!--                  <h2 class="trend-slide-text">REAL ESTATE3</h2>-->
<!--              </ion-card-content>-->
<!--          </ion-card>-->
<!--      </ion-slide>-->

  </ion-slides>

<app-spinner [show]="loading"></app-spinner>

  <ion-card class="card-product" *ngFor="let product of products.data;index as i">
    <ion-card-header>
      <ion-button (click)="addWishlistProd(product, i)" no-padding fill="outline" color="{{isFav[i]?'red1':'medium'}}" style="float: right">
          <ion-icon *ngIf="!isFav[i]" name="heart-empty"></ion-icon>
          <ion-icon  *ngIf="isFav[i]" name="heart"></ion-icon>
      </ion-button>
    </ion-card-header>
      <ion-card-content
              [routerLink]="['/members/product-detail/'.concat(product.translations[translate.currentLang].name.split(' ').join('-'))]">
      <ion-img class="testImage" [src]="BASEURL+product.main_photo" style="height: 185px"> </ion-img>
      <ion-row margin>
        <ion-col size="7">
          <div>{{product.translations[translate.currentLang].name}}</div>
          <div style="display: table">
            <span style="display: table-cell">
              <ion-icon *ngFor="let star of stars;index as i"
                        [ngStyle]="{color:i<math.floor(product.rate)?'#FFAF02':'grey'}"
                        style="font-size: x-large"
                        name="star"></ion-icon>
            </span>
              <span style="color: #d4d4d4; display: table-cell; vertical-align: middle">({{product.rate}} )</span>
          </div>
        </ion-col>
        <ion-col size="5">
            <div style="text-align: end" *ngIf="product.items[0].new_price != null">
                <s>{{currentCurrency.translations[translate.currentLang].symbol}} {{product.items[0].price * currentCurrency.exchange_rate}}</s>
            </div>
            <div style="text-align: end">
                <b style="color: #7ED321; font-size: large">{{currentCurrency.translations[translate.currentLang].symbol}} {{product.items[0].new_price!=null?product.items[0].new_price * currentCurrency.exchange_rate:product.items[0].price * currentCurrency.exchange_rate}}</b>
            </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
