<ion-app>
  <ion-menu contentId="content" side="start">
    <ion-content>
      <ion-grid style="margin-top: 15%">
        <ion-row>
          <ion-col size="12">
            <ion-button
              fill="clear"
              color="light"
              (click)="closeMenu()"
              [routerLink]="['/members/home']">Home</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button fill="clear" color="light" (click)="closeMenu()">
              My Account
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button
              fill="clear"
              color="light"
              (click)="closeMenu()"
              [routerLink]="['/members/cart']"
            >
              My Cart
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button
              fill="clear"
              color="light"
              (click)="closeMenu()"
              [routerLink]="['/members/home']"
            >
              Categories
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button fill="clear" color="light" (click)="closeMenu()">
              Trending
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button
              fill="clear"
              color="light"
              (click)="_userService.logout();closeMenu()"
            >
              Log Out
            </ion-button>
          </ion-col>

          <ion-col size="12">
            <!--              <ion-label>{{currentCurrency.translations[translate.currentLang].name}}</ion-label>-->
            <ion-select id="my-select" [(ngModel)]="selectedCurr" interface="popover" (ionChange)="changeCurrency()">
              <ion-select-option *ngFor="let currency of currencyObj.data" value="{{currency.code}}">
                <!--                  {{currency.code == currentCurrency.code}}-->
                {{currency.translations[translate.currentLang].name}} - {{currency.code}}
              </ion-select-option>
            </ion-select>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>
