ion-menu {
  --min-width: 100%;
  --ion-background-color: rgba(122, 22, 27, 0.5);
  height: 92%;
  margin-top: 15%;

  ion-button {
    font-weight: 900;
  }
  ion-row {
    text-align: center;
  }
}
