<ion-menu contentId="content" side="start">
  <ion-content>
    <ion-grid style="margin-top: 15%">
      <ion-row>
        <ion-col size="12">
          <ion-button
            fill="clear"
            color="light"
            (click)="closeMenu()"
            [routerLink]="['/home']"
          >
            Home
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button fill="clear" color="light" (click)="closeMenu()">
            My Account
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button
            fill="clear"
            color="light"
            (click)="closeMenu()"
            [routerLink]="['/cart']"
          >
            My Cart
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button
            fill="clear"
            color="light"
            (click)="closeMenu()"
            [routerLink]="['/products']"
          >
            Categories
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button fill="clear" color="light" (click)="closeMenu()">
            Trending
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button
            fill="clear"
            color="light"
            (click)="closeMenu()"
            [routerLink]="['/customer-login']"
          >
            Log Out
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>
