<ion-header> </ion-header>

<ion-content>
  <ion-img
    class="background-SignIn"
    src="assets/images/signIn/choosePageBackground.svg"
  ></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="['/chose-login']" routerDirection="root">
        <ion-icon
          class="back-icon"
          name="arrow-back"
          color="primary"
        ></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
        <img class="logo-SignIn" [src]="!isTakeImage ? image : ImageToSend" />
      </ion-col>
      <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
        <ion-button class="addPhoto" (click)="SelectImage()"> </ion-button>
      </ion-col>
<!--        <ion-col>-->
<!--            <form [formGroup]="loginForm">-->
<!--                <ion-item>-->
<!--                    <ion-label id="profile_image" color="primary" stacked>Profilbild wählen</ion-label>-->
<!--&lt;!&ndash;                    <ion-input type="file" accept="image/*" (change)="changeListener($event)"> </ion-input>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ion-input type="file" accept="image/*" (change)="onFileChange($event)"></ion-input>&ndash;&gt;-->
<!--                    <input type="file" name="file" id="uploadFile" accept="image/*"-->
<!--                           (change)="onFileChange($event,'image')">-->
<!--                </ion-item>-->
<!--            </form>-->
<!--        </ion-col>-->
    </ion-row>

    <ion-row justify-content-center class="row-top-margin">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-card>
          <form [formGroup]="loginForm">
            <ion-item>
              <ion-icon slot="start" name="person" color="primary"></ion-icon>
              <ion-label position="stacked" color="medium">Username</ion-label>
              <ion-input
                formControlName="userName"
                name="userName"
                type="text"
                inputmode="text"
                required="true"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="mail" color="primary"></ion-icon>
              <ion-label position="stacked" color="medium">Email</ion-label>
              <ion-input
                formControlName="email"
                name="email"
                inputmode="email"
                required="true"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="lock" color="primary"></ion-icon>
              <ion-label position="stacked" color="medium">password</ion-label>
              <ion-input
                type="password"
                formControlName="userpassword"
                name="userpassword"
                inputmode="password"
                required="true"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="gift" color="primary"></ion-icon>
              <ion-label position="stacked" color="medium">Birthday</ion-label>
              <ion-datetime
                formControlName="birthday"
                name="birthday"
                required="true"
                displayFormat="DD-MM-YYYY"
                max="2015-12-01"
                min="1950-12-01"
              ></ion-datetime>
            </ion-item>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="row-btn-margin">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-button
          [disabled]="!loginForm.valid"
          class="btn-sign"
          color="secondary"
          expand="block"
          size="large"
          (click)="RegisterUser()"
          >Create Account</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-button
          class="btn-forget-password"
          color="light"
          fill="clear"
          size="small"
          expand="block"
        >
          Already have an account?
          <a
            color="light"
            [routerLink]="['/chose-login']"
            routerDirection="forward"
            >Sign In</a
          >
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
