ion-icon {
  font-size: 20px;
}

ion-menu-button {
  font-size: 35px;
}

ion-title {
  margin-right: -37px;
}


ion-col {
  padding: 2px;
  display: table;
  overflow: hidden;
  height: 33%;
}

ion-segment {
  margin-top: 12px;
}

.home-item {
  // background: url('../../../assets/images/image.png') no-repeat 100% 100%;
  // background-position: center;
  // background-size: 500px;
  background: var(--ion-color-primary);
  color: #fff;
  max-width: 176px;
  height: 165px;
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  p {
    word-wrap: break-word;
    width: 100%;
    font-family: var(--ion-font-family-bold);
    overflow-wrap: break-word;
  }
}

.profile-background {
  --background: linear-gradient(to top, #e1e6ec 0%, #f0f4f7 100%);
}

ion-slides {
  height: 80%;
  width: 200%;
}

.Trend-Slider {
  height: 25%;

  .trendSlide {
    width: 40% !important;
    margin-right: -9%;
    transform: translate(-64%, 0%);
  }

}

ion-card {
  background: #fff;
  min-width: 72%;
  //height: 65%;
  border-radius: 5px;
  box-shadow: 0 8px 17px -6px rgba(110, 25, 25, 0.315);

  ion-card-content {
    padding: 0px;

    ion-img {
      margin-top: 2%;
      max-width: 28%;
      height: 50%;
      margin-bottom: 2%;
      margin-left: 36%;
    }
  }
}

.ion-card-trend {
  ion-img {
    margin-top: 2%;
    max-width: 30%;
    height: 50%;
    margin-bottom: 2%;
  }

  background: #fff;

  ion-card-header {
    ion-button {
      --padding-end: 5px;
      --padding-start: 5px;
    }

    display: contents;
  }
}

.ion-card-trend1 {
  @extend .ion-card-trend;
  border: 3px solid #7A161B;
}

.card-product {
  box-shadow: 0 14px 17px -6px rgba(41, 12, 12, 0.315);
  border: 1px solid rgba(219, 219, 219, 0.35);

  ion-card-header {
    ion-button {
      width: 40px;
      height: 38px;

      ion-icon {
        font-size: 30px !important;
      }
    }
  }

  ion-card-content {
    .testImage {
      margin-top: 2%;
      max-width: 100%;
      height: 50%;
      margin-bottom: 2%;
      margin-left: -4px;
    }
  }
}


ion-slides {
  width: 100%;

  .fack-card-right {
    width: 5%;
    height: 65%;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    right: 0;
  }

  .fack-card-left {
    width: 5%;
    height: 65%;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    left: 0;
  }

  ::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color: #737373;
  }
  ::-moz-placeholder{ /* Firefox 19+ */
    color: #737373;
  }
  :-ms-input-placeholder{ /* IE 10+ */
    color: #737373;
  }
  :-moz-placeholder{ /* Firefox 18- */
    color: #737373;
  }

  .ion-input{
    border: none;
    width: 100%;
  }
  ion-input{
    --placeholder-color: #737373;
    --placeholder-opacity: 1;
  }

  .card-title{
    color: #000;
    font-size: 20px;
    text-shadow: 0px 0px 0px grey;
  }
}


//
//ion-input {
//  ::placeholder{
//    color:red !important;
//  }
//}
//::-moz-placeholder {
//  color: red;
//}
//
//:-ms-input-placeholder {
//  color: red;
//}
//
//::-webkit-input-placeholder {
//  text-indent: 0;
//  color: red;
//}
