<ion-slides #slider [options]="sliderOptions" (ionSlideDrag)="hideElementDiv()" (ionSlideDidChange)="getIndex(slider)">
  <ion-slide> <!-- Change passowrd --->
    <ion-card>
      <ion-card-content>
        <div style="background: url('assets/images/Profileheader.png'); height: 100px;">
          <div style="position: absolute;
            top: 44%;width: 100%;
            left: 50%;
            transform: translate(-50%, 0%);">
<!--            <ion-avatar style=" border: 2px solid #fff ">-->
<!--              <img style="width: 60px;" [src]="user.photo!=''?user.photo:'assets/images/Photo.png'" />-->
<!--            </ion-avatar>-->
            <p class="card-title">Change Password</p>
          </div>
        </div>
      </ion-card-content>

      <ion-list style="margin-top: 25px">
        <form [formGroup]="passwordForm">
          <ion-row style="display: table; border-bottom: 1px dashed #d4d4d4">
            <ion-col size="2" style="display: table-cell !important; vertical-align: middle">
              <ion-icon name="lock" style="font-size: x-large"></ion-icon>
            </ion-col>
            <ion-col size="10" style="display: table-cell !important">
              <ion-item lines="none">
                <ion-label position="floating">New Password</ion-label>
                <ion-input type="password" formControlName="password" style="color: var(--ion-color-primary); font-size: 12pt"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row style="display: table; border-bottom: 1px dashed #d4d4d4">
            <ion-col size="2" style="display: table-cell !important; vertical-align: middle">
              <ion-icon name="lock" style="font-size: x-large"></ion-icon>
            </ion-col>
            <ion-col size="10" style="display: table-cell !important">
              <ion-item lines="none">
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirmPassword" style="color: var(--ion-color-primary); font-size: 12pt"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </form>
      </ion-list>
    </ion-card>
  </ion-slide>

  <ion-slide> <!-- Profile -->
    <div #divright class="fack-card-right"></div>
    <ion-card>
      <ion-card-content>
        <div style="background: url('assets/images/Profileheader.png'); height: 100px;">
          <div style="position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, 0%);">
            <ion-avatar style=" border: 2px solid #fff ">
              <img style="width: 60px;" [src]="user.photo!=''?user.photo:'assets/images/Photo.png'" />
            </ion-avatar>
          </div>
        </div>
      </ion-card-content>

      <ion-list style="margin-top: 25px">
        <form [formGroup]="userForm">
          <ion-row style="display: table; border-bottom: 1px dashed #d4d4d4">
            <ion-col size="2" style="display: table-cell !important; vertical-align: middle">
              <ion-icon name="person" style="font-size: x-large"></ion-icon>
            </ion-col>
            <ion-col size="10" style="display: table-cell !important">
              <ion-item lines="none">
                <ion-label position="floating">Username</ion-label>
                <ion-input formControlName="username"
                           style="color: var(--ion-color-primary); font-size: 12pt"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="display: table; border-bottom: 1px dashed #d4d4d4">
            <ion-col size="2" style="display: table-cell !important; vertical-align: middle">
              <ion-icon name="mail" style="font-size: x-large"></ion-icon>
            </ion-col>
            <ion-col size="10" style="display: table-cell !important">
              <ion-item lines="none">
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email" style="color: var(--ion-color-primary); font-size: 12pt"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="display: table; border-bottom: 1px dashed #d4d4d4">
            <ion-col size="2" style="display: table-cell !important; vertical-align: middle">
              <ion-icon name="phone-portrait" style="font-size: x-large">
              </ion-icon>
            </ion-col>
            <ion-col size="10" style="display: table-cell !important">
              <ion-item lines="none">
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input formControlName="mobile" style="color: var(--ion-color-primary); font-size: 12pt"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
<!--          <ion-row style="display: table; border-bottom: 1px dashed #d4d4d4">-->
<!--            <ion-col size="2" style="display: table-cell !important; vertical-align: middle">-->
<!--              <ion-icon name="lock" style="font-size: x-large"></ion-icon>-->
<!--            </ion-col>-->
<!--            <ion-col size="10" style="display: table-cell !important">-->
<!--              <ion-item lines="none">-->
<!--                <ion-label position="floating">Password</ion-label>-->
<!--                <ion-input type="password" style="color: var(&#45;&#45;ion-color-primary); font-size: 12pt"></ion-input>-->
<!--              </ion-item>-->
<!--            </ion-col>-->
<!--          </ion-row>-->
        </form>
      </ion-list>
    </ion-card>

    <div #divleft class="fack-card-left"></div>
  </ion-slide>

  <ion-slide> <!-- Personal Info -->
    <ion-card>
      <ion-card-content>
        <div style="background: url('assets/images/addressheader.png'); height: 100px; background-size: cover"></div>
      </ion-card-content>

      <ion-list>
        <div style="display: block; text-align: start; padding-inline-start: 30px;padding-inline-end: 30px; border-bottom: 1px dashed #d4d4d4;">
          <div style=" margin: 15px 0;">
            <div><b style="font-size: 14pt">Home</b></div>
<!--            <ion-item no-padding lines="none">-->
<!--              <ion-label position="floating">Address 1</ion-label>-->
              <ion-input [(ngModel)]="homeAddress1" [value]="user.home_address1" type="text" no-padding placeholder="Address 1"></ion-input>
<!--              <input class="ion-input" type="text" [value]="user.home_address1" placeholder="Address 1">-->
<!--            </ion-item>-->
            <input [(ngModel)]="homeAddress2" class="ion-input" type="text" [value]="user.home_address2" placeholder="Address 2">
          </div>
        </div>
        <div style="display: block; text-align: start; padding-inline-start: 30px; border-bottom: 1px dashed #d4d4d4;">
          <div style=" margin: 15px 0;">
            <div><b style="font-size: 14pt">Work</b></div>
<!--            <div>Address 1</div>-->
<!--            <div>Address 2</div>-->
            <input [(ngModel)]="workAddress" class="ion-input" type="text" [value]="user.work_address" placeholder="Address 1">
          </div>
        </div>
        <div style="display: block; text-align: start; padding-inline-start: 30px; border-bottom: 1px dashed #d4d4d4;">
          <div style=" margin: 15px 0;">
            <div><b style="font-size: 14pt">Location</b></div>
            <input [(ngModel)]="locationAddress1" class="ion-input" type="text" [value]="user.location_address1" placeholder="Address 1">
            <input [(ngModel)]="locationAddress2" class="ion-input" type="text" [value]="user.location_address2" placeholder="Address 2">
          </div>
        </div>
      </ion-list>
    </ion-card>
  </ion-slide>
</ion-slides>

<div text-center>
  <ion-button (click)="onSubmit()" color="warning" style="--border-radius: 50%; --padding-start: 9px;
        --padding-end: 9px; margin: 20px">
    <ion-icon name="create"> </ion-icon>
  </ion-button>

<!--  <ion-button color="primary" style="&#45;&#45;border-radius: 50%; &#45;&#45;padding-start: 9px;-->
<!--      &#45;&#45;padding-end: 9px; margin: 20px">-->
<!--    <ion-icon name="add"> </ion-icon>-->
<!--  </ion-button>-->
</div>
