/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~css-star-rating/css/star-rating';
*{
    font-family: var(--ion-font-family);
}

.rotate-90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.transition-2{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.menu-content-open {
    pointer-events: all;
}

*{
    outline: none !important;
}

.no-data {
    font-size: 23px;
    text-align: center;
    margin-top: 33%;
}

app-spinner.absolute-loading {
    position: absolute;
    background-color: #80808014;
    z-index: 9;
    width:100%;
    height: 100%;

    svg{
        margin-top: 26%;
    }
}
app-spinner {
    width: 100%;
    display: inline-block;
    text-align: center;
    svg{
        width: 117px;
        height: 100px;
        margin-top: 40%;
        margin-bottom: 40px;
    }
}
