ion-header {
  background: #7a161b;
  color: #fff;
}
ion-toolbar {
  background: #7a161b !important;
  color: #fff;
}

.hr {
  border-bottom: 1px solid black;
  opacity: 0.3;
  width: 96%;
  margin: 0 auto;
}
.text-center {
  text-align: center !important;
}

.products {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cartQuantity {
  position: absolute;
  top: 56px;
  .quantity {
    border: 1px solid #7a161b;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    text-align: center;
  }

  .increase {
    position: relative;
    left: 0px;
    top: 35px;
    height: 35px;
    z-index: 999;
    border: 1px solid #7a161b;
    width: 33px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
  }

  .decrease {
    position: relative;
    /* right: 0px; */
    left: 77px;
    top: -35px;
    height: 35px;
    z-index: 999;
    border: 1px solid #7a161b;
    width: 33px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
  }
}

.main-titles {
  font-weight: 700;
  font-size: 1em;
}

.details {
  font-size: 12px;
  padding-left: 10px;
  font-weight: 300;
}
.tearms {
  padding-left: 20px;
}
.prices {
  padding-left: 20px;
  padding-top: 5px;
}
