<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text=""></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/search']" routerLinkActive="forword">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/cart']" routerLinkActive="forword">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cart Summery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- start cart section -->
    <div class="products">
      <ion-row>
        <ion-col size="12">
          <h2 class="main-titles">products</h2>
          <div class="hr"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-img src="https://via.placeholder.com/50"></ion-img>
        </ion-col>
        <ion-col size="4">
          <p>Prduct Name</p>
          <small> KD 2500,00 $</small>

          <div class="cartQuantity">
            <button item-right class="increase">+</button>
            <input class="quantity" type="number" value="1" min="1" />
            <button item-right class="decrease">-</button>
          </div>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <p>delete &nbsp;<ion-icon name="trash"></ion-icon></p>
          <p>save &nbsp;<ion-icon name="heart-empty"></ion-icon></p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-img src="https://via.placeholder.com/50"></ion-img>
        </ion-col>
        <ion-col size="4">
          <p>Prduct Name</p>
          <small> KD 2500,00 $</small>
          <div class="cartQuantity">
            <button item-right class="increase">+</button>
            <input class="quantity" type="number" value="1" min="1" />
            <button item-right class="decrease">-</button>
          </div>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <p>delete &nbsp;<ion-icon name="trash"></ion-icon></p>
          <p>save &nbsp;<ion-icon name="heart-empty"></ion-icon></p>
        </ion-col>
      </ion-row>
    </div>

    <!-- end cart section -->

    <div class="hr"></div>
    <ion-row>
      <ion-col size="12">
        <h2 class="main-titles">Delivery Informations</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <p class="details">Annie Smith</p>
        <p class="details">mingo@gmail.com</p>
        <p class="details">1 chip hell</p>
        <p class="details">Haswal</p>
        <p class="details">akjwdkjawdkaw</p>
        <p class="details">Bh1awd</p>
      </ion-col>

      <ion-col size="4" class="ion-text-end">
        <p>edit &nbsp; <ion-icon name="create"></ion-icon></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2 class="main-titles">Billing Address</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <p class="details">Annie Smith</p>
        <p class="details">mingo@gmail.com</p>
        <p class="details">1 chip hell</p>
        <p class="details">Haswal</p>
        <p class="details">akjwdkjawdkaw</p>
        <p class="details">Bh1awd</p>
      </ion-col>

      <ion-col size="4" class="ion-text-end">
        <p>edit &nbsp; <ion-icon name="create"></ion-icon></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2 class="main-titles">Shipping</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <p class="details">DHL</p>
        <p class="details">free</p>
      </ion-col>

      <ion-col size="4" class="ion-text-end">
        <p>edit &nbsp; <ion-icon name="create"></ion-icon></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2 class="main-titles">Payment</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p class="details">Payment Method : CreditCard</p>
        <p class="text-center">40234234********</p>
      </ion-col>
    </ion-row>
    <div class="hr"></div>

    <ion-row>
      <ion-col size="4" class="prices"><p>Cart Subtotal :</p></ion-col>
      <ion-col size="8"><p>KD 5000,00</p></ion-col>

      <ion-col size="4" class="prices"><p>shipping :</p></ion-col>
      <ion-col size="8"><p>KD 50,00</p></ion-col>

      <ion-col size="4" class="prices"><p>total :</p></ion-col>
      <ion-col size="8"><p>KD 5500,00</p></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="tearms">
        <input type="checkbox" />
        Lorem ipsum dolor sit amet, consectetur
      </ion-col>
      <ion-col size="12" class="tearms">
        <input type="checkbox" />
        Lorem ipsum dolor sit amet, consectetur
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          color="primary"
          [routerLink]="['/checkout']"
          routerLinkActive="forword"
          >PAY</ion-button
        >
      </ion-col>
    </ion-row>
    <!-- delivery sections -->
  </ion-grid>
</ion-content>
