ion-content {
  --background: #eeeff0;
}
ion-img img{
  height: 155px;
}
ion-card {
  height: 271px;
  width: 95%;

  .testImage {
    width: 500px;
    height: 500px;
  }
}

ion-card {
  background: #fff;
  ion-card-header {
    ion-button {
      --padding-end: 5px;
      --padding-start: 5px;
    }
    //display: contents;
    display: inherit;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    z-index: 1;
  }
}
